.git
.gitignore
README.md
docker-compose.yml
Dockerfile
.dockerignore
.env
.env.example
.editorconfig
/vendor
/node_modules
/storage/logs/*
/storage/framework/cache/*
/bootstrap/cache/*
.vscode
.DS_Store
*.md
